.form-div {
  width: 20vw;
  min-height: 400px;
  margin-inline-start: 40vw;
  margin-inline-end: 40vw;
  margin-block-start: 10%;
  text-align: center;
  background-color: rgba(138, 138, 138, 0.158);

  input {
    width: 200px;
    height: 25px;
    border: 2px solid rgba(0, 255, 0, 0.37);
    border-radius: 15px;
    text-align: center;
  }
  label {
    box-shadow: 0px -2px -1px 3px;
  }
  button {
    width: 100px;
    height: 25px;
    border: 2px solid rgba(0, 255, 0, 0.37);
    border-radius: 15px;
    text-align: center;
  }
}
